{% extends 'dashboard.html' %}

{% block title %}
        About
{% endblock %}

{% block styles %}
        {{super()}}
        <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
{% endblock %}

{% block content %}
        <div class="text_home">
                <h1>About Me</h1>
                <p>My name is Nelson Murray. I am a third year computer science student at Okanagan College.</p>
		<p><strong>I love Flask</strong></p>
        </div>
        {{super()}}
{% endblock %}

