{% extends 'dashboard.html' %}

{% block title %}
        Flask Information
{% endblock %}

{% block styles %}
        {{super()}}
        <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
{% endblock %}

{% block content %}
        <div class="text_home">
                <h1>Flask Information</h1>
                <p>Flask is a barebones but widely expandable web development framework that relies on a python back-end. Flask was created by Armin Ronacher, a member of an international group of python enthusiasts called Pocoo, and released in 2010. </p>
		<p>Below are some helpful Flask resources:</p>
		<table class="table">
    			<tr>
     	   			<td> - <a href="http://flask.pocoo.org/docs/1.0/">Flask Documentation</a></td>
        		</tr>
			<tr>	
				<td> - <a href="http://jinja.pocoo.org/docs/2.10/">Jinja Documentation</a></td>
        		</tr>
			<tr>
				<td> - <a href="http://werkzeug.pocoo.org/docs/0.14/">Werkzeug Documentation</a></td>
    			</tr>
		</table>
        </div>
        {{super()}}
{% endblock %}

