{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
	Login
{% endblock %}

{% block styles %}
        {{super()}}
        <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
{% endblock %}

{% block content %}
  <div class="container">
   
    <form class="form-signup" method="POST" action="/login">
      <h2 class="form-signup-title">Log In</h2>
      {% if error %}
        <p class=error style="color:red">{{ error }}
      {% endif %}
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.username) }}
      {{ wtf.form_field(form.password) }}
      {{ wtf.form_field(form.remember) }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
    </form>

  </div>
{% endblock %}
