<!doctype html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</head>

	<body>
		<div class="topnav">
 			<a class="active" href="{{ url_for('index') }}">Home</a>
 			<a href="{{ url_for('login') }}">Login</a>
			<a href="{{ url_for('signup') }}">Sign Up</a>
		</div>
		{% block content %}{% endblock %}
		<footer><p class="footer">	© Copyright 2018 by <a href="#">Nelson Murray</a>.</p></footer>
	</body>
</html>
